@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@500;700&display=swap');
body{
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  background:linear-gradient(#2f2727bb, #2a2a91b6 ) ;
  font-family: 'Poppins', sans-serif;
}